// Variables

// Fuentes

// Colores
$color_base1 : #000;	// Negro
$color_base2 : #fff;   	// Blanco
$color_base3: #e1e1e1; 	// Gris claro
$color_text : #7f7f7f;  // Gris

// Tamaños
$max-width: 1000px;