// Estilos Contacto

.contacto {
	padding: 15px 0 0 0;
	background: #f3f3f3; 
	text-align: center;
	p {
		color: $color_text;
		a {
			color: $color_base1;
			margin: 0 5px;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			} 
		}
	}
}